<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="e.rick.duolingoclone">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="e.rick.com.gojibetters.robii.DuolingoApp"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="e.rick.com.gojibetters.robii.ui.tasks.WordTask.WordTaskActivity"/>

        <activity android:name="e.rick.com.gojibetters.robii.ui.tasks.TranslateSentenceTask.TSTaskActivity" />

        <activity android:name="e.rick.com.gojibetters.robii.ui.tasks.TapPairTask.TapPairActivity" />

        <activity android:name="e.rick.com.gojibetters.robii.ui.activity.LessonListActivity.LessonListActivity"/>

        <activity android:name="e.rick.com.gojibetters.robii.ui.activity.SignInActivity.SignInActivity"/>

        <activity android:name="e.rick.com.gojibetters.robii.ui.activity.LessonCompletedActivity.LessonCompletedActivity" />

        <activity android:name="e.rick.com.gojibetters.robii.ui.activity.SelectLanguageActivity.SelectLanguageActivity" />

        <activity android:name="e.rick.com.gojibetters.robii.ui.activity.PickDailyGoalActivity.PickDailyGoalActivity" />

        <activity android:name="e.rick.com.gojibetters.robii.ui.activity.WelcomeActivity.WelcomeActivity"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

    </application>

</manifest>